<div class="container" id="container">

  <h1 class="heading-primary poor-story u-mb-sm">My Workout</h1>
  <div
    class="hero-btn"
    id="heroBtn"
    (click)='openOverlayForm()'
  >
    add
  </div>

  <!-- ================ IF NO TRAININGS ADDED ================= -->
  <div class="default-message" *ngIf="!trainings.length">
    <div class="default-message__content">
      <p class="default-message__text u-mb-md">Nothing To Train!</p>
      <span class="default-message__emoji">😟</span>
    </div>
  </div>

  <!-- ================ SINGLE TRAINING ================= -->
  <app-single-training
    *ngFor="let training of trainings"
    [training]="training"
  >
  </app-single-training>


</div>
<!-- end of container -->

<!-- ================ OVERLAY ================= -->
<app-overlay-form
  [overlayIsOpened]='overlayIsOpened'
  (closeOverlayForm)="handleCloseOverlayForm($event)"
  (addTraining)="handleAddTraining($event)"
>
</app-overlay-form>
